body {
    margin: 0 1em;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
table {
    border-collapse: collapse;
}
td {
    border-top: 1px solid #aaa;
    border-right: 1px solid #eee;
    padding: 4px;
    vertical-align: top;
}
td.col-link {
    font-weight: bold;
}
td em {
    font-style: normal;
    font-size: 0.8em;
    color: #aaa;
}
th {
    padding-right: 1em;
}
table a:link {
    text-decoration: none;
    color: #445ac8;
}
table a:visited {
    color: #8f54c4;
}
@media only screen and (max-width: 576px) {
    /* Force table to not be like tables anymore */
    table.rows-and-columns,
    .rows-and-columns thead,
    .rows-and-columns tbody,
    .rows-and-columns th,
    .rows-and-columns td,
    .rows-and-columns tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .rows-and-columns thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .rows-and-columns tr {
        border: 1px solid #ccc;
        margin-bottom: 1em;
    }

    .rows-and-columns td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        padding: 0;
        padding-left: 10%;
    }

    .rows-and-columns td:before {
        display: block;
        margin-left: -10%;
        font-size: 0.8em;
    }
}

.hd {
    border-bottom: 2px solid #ccc;
}
.ft {
    margin: 1em 0;
    border-top: 1px solid #ccc;
    font-size: 0.8em;
}
.hd :link {
    text-decoration: none;
}

.db-table p {
    margin-top: 0;
    margin-bottom: 0.3em;
}
.db-table h2 {
    margin-top: 1em;
    margin-bottom: 0;
}

h2 em {
    font-style: normal;
    font-weight: lighter;
}
form.sql textarea {
    border: 1px solid #ccc;
    width: 70%;
    height: 3em;
    padding: 4px;
    font-family: monospace;
    font-size: 1.3em;
}
form label {
    font-weight: bold;
    display: inline-block;
    width: 15%;
}
label.sort_by_desc {
    width: auto;
    padding-right: 1em;
}
form input[type=text],
form input[type=search] {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 60%;
    padding: 9px 4px;
    display: inline-block;
    font-size: 1em;
    font-family: Helvetica, sans-serif;
}
@media only screen and (max-width: 576px) {
    form.sql textarea {
        width: 95%;
    }
}
form input[type=submit] {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    border: 1px solid blue;
    padding: .5em 0.8em;
    font-size: 0.9rem;
    line-height: 1;
    border-radius: .25rem;
    -webkit-appearance: button;
}

.filter-row {
    margin-bottom: 0.6em;
}
.search-row {
    margin-bottom: 1.8em;
}

.search-row label {
    font-size: 1.2em;
    padding-right: 0.5em;
    display: inline-block;
    width: 80px;
}

.select-wrapper {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    padding: 0;
    background-color: #fafafa;
    position: relative;
    display: inline-block;
    margin-right: 0.3em;
}
.select-wrapper.filter-op {
    width: 80px;
}
.select-wrapper::after {
    content: "\25BE";
    position: absolute;
    top: 0px;
    right: 0.4em;
    color: #bbb;
    pointer-events: none;
    font-size: 1.2em;
    padding-top: 0.16em;
}

.select-wrapper select {
    padding: 9px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}
.select-wrapper select {
    font-size: 1em;
    font-family: Helvetica, sans-serif;
}
.select-wrapper option {
    font-size: 1em;
    font-family: Helvetica, sans-serif;
}

.select-wrapper select:focus {
    outline: none;
}
.filters {
    font-size: 0.8em;
}
.filters input.filter-value {
    width: 200px;
    border-radius: 3px;
    -webkit-appearance: none;
    padding: 9px 4px;
    font-size: 1em;
    font-family: Helvetica, sans-serif;
}
@media only screen and (max-width: 576px) {
    .select-wrapper {
        width: 100px;
    }
    .select-wrapper.filter-op {
        width: 60px;
    }
    .filters input.filter-value {
        width: 140px;
    }
}

a.not-underlined {
    text-decoration: none;
}
.not-underlined .underlined {
    text-decoration: underline;
}

.facet-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.facet-info {
    width: 250px;
    margin-right: 15px;
}
.facet-info li,
.facet-info ul {
    margin: 0;
    padding: 0;
}
.facet-info ul {
    padding-left: 1.25em;
    margin-bottom: 1em;
}
.facet-info a.cross:link,
.facet-info a.cross:visited,
.facet-info a.cross:hover,
.facet-info a.cross:focus,
.facet-info a.cross:active {
    text-decoration: none;
}
