{% extends "base.html" %}

{% block title %}{{ database }}: {{ table }}{% endblock %}

{% block content %}
<h1><a href="/{{ database }}-{{ database_hash }}">{{ database }}</a></h1>

<h2>{{ table }}</h2>

<style>
td {
    white-space: pre;
    vertical-align: top;
    border-top: 1px solid #666;
    padding: 2px 4px;
}
</style>
<table>
    <tr>
        {% for column in columns %}<th scope="col">{{ column }}</th>{% endfor %}
    </tr>
    {% for row in rows %}
        <tr>
            {% for td in row %}
                <td>{{ td }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endblock %}
