name: Test in Pyodide with shot-scraper

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v6
      with:
        python-version: "3.10"
        cache: 'pip'
        cache-dependency-path: '**/pyproject.toml'
    - name: Cache Playwright browsers
      uses: actions/cache@v4
      with:
        path: ~/.cache/ms-playwright/
        key: ${{ runner.os }}-browsers
    - name: Install Playwright dependencies
      run: |
        pip install shot-scraper build
        shot-scraper install
    - name: Run test
      run: |
        ./test-in-pyodide-with-shot-scraper.sh
